@media screen and (max-width: 10000px) {
  .card-site {
    width: 30%;
  }
  }

@media screen and (max-width: 1300px) {
  .card-site {
    width: 40%;
  }
  }

  @media screen and (max-width: 900px) {
    .card-site {
      width: 60%;
    }
    }

    @media screen and (max-width: 600px) {
      .card-site {
        width: 80%;
      }
      }